		#cMajor{
			width: 100px;
			height: 100px;
			margin: 5px;
			border: 1px solid #000;
			display: none;	
		}
		#dMinor{
			width: 100px;
			height: 100px;
			margin: 5px;
			border: 1px solid #000;
			display: none;	
		}
		#eMinor{
			width: 100px;
			height: 100px;
			margin: 5px;
			border: 1px solid #000;
			display: none;	
		}
		#fMajor{
			width: 100px;
			height: 100px;
			margin: 5px;
			border: 1px solid #000;
			display: none;	
		}
		#gMajor{
			width: 100px;
			height: 100px;
			margin: 5px;
			border: 1px solid #000;
			display: none;	
		}
		#aMinor{
			width: 100px;
			height: 100px;
			margin: 5px;
			border: 1px solid #000;
			display: none;	
		}
		#bBdim{
			width: 100px;
			height: 100px;
			margin: 5px;
			border: 1px solid #000;
			display: none;	
		}